 <!-- Footer Section -->
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 text-center md:text-left">
  <div>
    <a href="https://your-link.com" target="_blank">
    <%= link_to root_path do %> 
      <%=  image_tag("nftplgams.png", size: "150x150", alt: " Logo Playground Amsterdam", class: "mx-auto md:mx-0", loading: "lazy")  %>
    <% end %>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow"><%= t 'global.footer.about_us' %></h3>
    <ul>
      <li><%= link_to t('global.footer.who_we_are'), who_we_are_path %></li>
      <li><%= link_to t('global.footer.what_we_do'), what_we_do_path %></li>
      <li><%= link_to t('global.footer.vision'), vision_path %></li>
      <li><%= link_to t('global.footer.privacy'), privacy_path %></li>
    </ul>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">Playgrounds</h3>
    <ul>
      <li><a href="https://regenton.playgroud.amsterdam" target="_blank">Regenton</a></li>
      <li><a href="#">VeBetter</a></li>
      <li><a href="#">Maison</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">Community</h3>
    <ul>
      <li><a href="#">Discord</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>
</div>
<div class="text-center mt-6">
  <p class="text-yellow">&copy; 2024 www.playground.amsterdam</p>
</div>
