 <!-- Footer Section -->
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-6 text-center md:text-left font-sans">
  <div>
    <a href="https://your-link.com" target="_blank">
    <%= link_to root_path do %> 
      <%=  image_tag("nftplgams.png", size: "150x150", alt: " Logo Playground Amsterdam", class: "mx-auto md:mx-0", loading: "lazy")  %>
    <% end %>
  </div>
  <div>
    <h3 class="text-xl font-mono font-bold mb-3 text-yellow"><%= t 'global.footer.about_us' %></h3>
    <ul>
      <li><%= link_to t('global.footer.who_we_are'), who_we_are_path %></li>
      <li><%= link_to t('global.footer.what_we_do'), what_we_do_path %></li>
      <li><%= link_to t('global.footer.vision'), vision_path %></li>
      <li><%= link_to t('global.footer.privacy'), privacy_path %></li>
    </ul>
  </div>
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">Playground</h3>
    <ul>
      <li><%= link_to t('global.footer.here_and_now'), now_path %></li>
      <li><%= link_to t('global.footer.get_involved'), get_involved_path %></li>
      <li><%= link_to t('global.footer.explore'), explore_path %></li>
      <li><%= link_to t('global.footer.communities'), communities_path %></li>
    </ul>
  </div> 
  <div>
    <h3 class="text-xl font-bold mb-3 text-yellow">Community</h3>
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><%= link_to t('global.footer.key_holders'), members_path %></li>
      <li><%= link_to t('global.footer.governance'), governance_path %></li>
      <li><%= link_to t('global.footer.token'), token_path %></li>
    </ul>
  </div>
</div>
<div class="text-center mt-6">
  <p class="text-yellow">&copy; 2024 www.playground.amsterdam</p>
</div>
