<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Playground Amsterdam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/6692032/css/fonts.css" />
    <%=  stylesheet_link_tag "tailwind", "inter-font","data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-[#e1ede0] text-gray-900">
    <header class="w-full bg-dark-green">
      <%= render 'layouts/header' %>
    </header>
    <%= yield :hero %>
    <div class="min-h-screen flex flex-col">
      <main class="container flex-grow  mx-auto p-4">
        <%= yield %>
      </main>
      <footer class="w-full bg-dark-green text-white py-8 border-t border-t-gray-200">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
